.block-menus {
  
  .nav-menus {
    @apply pb-[30px];
  }

  .intro-image {
    @apply mt-[30px];
    @apply mb-[140px];
  }

  .seashell {
    position: absolute;
    max-width: none;
    @include pixelsToResponsiveUnit(width, 60px, 280px, 280px);
    bottom: -25%;
  }

  h4 {
    @apply mt-8;
  }
  a.button {
    margin: 0;
    width: 40%;
    @screen md {
      width: 24%;
    }
  }
}
