.block-tripleseat-form {
  #tripleseat_embed_form {
    background-color: rgba(248, 247, 244, 1);
    @apply px-2 py-8;
    @screen md {
      @apply p-10;
    }
  }
  #tripleseat-form {
    @apply max-w-[1024px] mx-auto;
    table {
      width: 100%;
    }
    label {
      @extend %h4;
      @apply text-black mb-[4px] font-bold;
      font-size: 18px;
    }
    input {
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 10px;
    }
    h2 {
      @extend %h3;
      @apply mb-1 mt-8;
    }
    h2#lead_form_event_header {
      @apply mt-8;
    }
    .row_contact_header {
      h2 {
        @apply mt-0;
      }
    }
    input[type="submit"] {
      @extend .btn;
      @apply bg-black text-white border-black;
      @apply m-0;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 10px;
      border-color: theme('colors.black') !important;
      &:hover {
        @apply bg-salmon;
      }
    }
    input[type="checkbox"] {
      appearance: checkbox;
    }
    .row_gdpr_consent {
      margin-bottom: 40px;
      input {
        width: auto;
        margin-right: 10px;
      }
      label {
        display: inline-block;
        width: calc(100% - 30px);
        float: right;
      }
    }
  }
}