@font-face {
  font-family: 'Apercu';
  src: url('./fonts/apercu-regular.eot');
  src: url('./fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/apercu-regular.woff2') format('woff2'),
       url('./fonts/apercu-regular.woff') format('woff'),
       url('./fonts/apercu-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/apercu-bold.eot');
  src: url('./fonts/apercu-bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/apercu-bold.woff2') format('woff2'),
       url('./fonts/apercu-bold.woff') format('woff'),
       url('./fonts/apercu-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}