@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'mixins';

@layer base {
  html {
    font-size: 18px;
    font-size: 26px;
    width: 100vw;
    overflow-x: hidden;
  }
  body {
    @apply font-sans antialiased font-light;
    overflow-x: hidden;
  }

  p {
    @apply mb-5;
    line-height: 1.21;
  }
  h1, h2, h3, h4, h5, h6, strong {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply mb-3;
    font-size: 36px;
    font-size: 50px;
  }

  h3 {
    @apply mb-3;
    font-size: 32px;
  }

  h4 {
    @apply mb-3 uppercase text-green;
    font-size: 26px;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}

@import 'fonts';
@import 'blocks/index';

a {
  @apply text-black;
}
a:hover {
  @apply text-salmon;
}

main {
  min-height: 100dvh;
}

.antialiased {
  -webkif-font-smoothing: antialiased;
}

.image-test {
  @apply w-80 h-80 bg-cover;
  background-image: url('./images/sample-image.jpg');
}

header {
  img {
    display: inline-block;
  }
  .lifeguard {
    width: 100%;
    max-width: 400px;
  }
  .bird {
    width: 100%;
    max-width: 200px;
  }
  .logo {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 80px;
    max-width: 260px;
    @screen md {
      max-width: 280px;
      margin-bottom: 140px;
      margin-top: 140px;
    }
    @screen lg {
      max-width: 360px;
    }
    @screen xl {
      max-width: 400px;
    }
  }
}

nav.main-menu {
  @apply pt-[34px] pb-[30px];
  @apply bg-green font-bold uppercase text-center;
  li {
    @apply inline-block text-center relative;
  }
  a {
    @apply text-white;
    @include pixelsToResponsiveUnit(padding-left, 0px, 30px, 300px, 1200);
    @include pixelsToResponsiveUnit(padding-right, 0px, 30px, 300px, 1200);
  }
  a:hover {
    @apply text-black;
  }
  img {
    @apply hidden absolute max-w-none;
    height: 150px;
    top: -90px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  li:hover {
    img {
      @apply inline-block;
    }
  }
}

p.cta .button,
.button {
  @apply font-normal uppercase leading-none inline-block text-center relative m-2;
  border: 2px solid theme('colors.salmon');
  padding: 18px 20px 16px 20px;
  &:after {
    content: '';
    border: 1px solid theme('colors.salmon');
    position: absolute;
    display: block;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }
  &:hover {
    @apply text-white bg-salmon;
  }
}

footer {
  @apply py-10;
  @apply text-white bg-green;
  h3 {
    @apply mb-2;
    text-transform: uppercase;
    line-height: 1;
  }
  h3, a {
    @apply text-white;
  }
  p {
    @apply mb-8;
  }
  .social {
    img {
      width: 44px;
      display: inline-block;
    }
  }
  a.button {
    @apply bg-white text-black;
  }
  .bird-container {
    @apply mb-2;
  }
  img.bird {
    @apply inline-block;
    width: 280px;
  }
}

.newsletter-signup {
  @apply  mb-8;
  .pre-newsletter {
    .inputs {
      display: flex;
      justify-content: center;
    }
    input {
      border-radius: 0;
      padding: 4px 12px;
      outline: none;
      appearance: none;
      background-color: transparent;
      text-align: left;
      font-size: 24px;
    }
    input[type="text"] {
      @apply text-black bg-white uppercase;
      border: 2px solid theme('colors.black');
      border-right: 0;
      width: 100%;
    }
    input[type="submit"] {
      @extend .button;
      @apply bg-black text-white border-black;
      @apply m-0;
      &:hover {
        @apply bg-salmon;
      }
    }
  }
  .reveal {
    @apply fixed top-0 right-0 w-full h-full bg-black bg-opacity-70 text-black flex content-center justify-center;
    display: none;
    .reveal-content {
      max-width: 420px;
      width: 100%;
    }
    .close-button {
      @apply text-white;
      font-size: 50px;
    }
    #mc_embed_signup {
      font-size: 16px;
      .datefield .monthfield input,
      .datefield .dayfield input {
        width: 70px;
      }
      .checkboxes-location {
        @apply fixed left-[-999em];
        min-height: 0;
      }
    }
  }
}

.mobile-menu {
  .mobile-menu-toggle {
    @apply flex content-center overflow-hidden;
    height: 60px;
  }
  .links {
    @apply text-white text-center;
    transition: max-height 800ms, opacity 400ms;
    overflow-y: hidden;
    opacity: 0;
    max-height: 0;
    a {
      @apply text-white font-bold uppercase;
    }
    li {
      @apply mb-5;
    }
    li:last-child {
      @apply mb-2;
    }
    ul {
      @apply py-3;
    }
  }
  &.is-open {
    .close {
      @apply inline-block;
    }
    .bars {
      @apply hidden;
    }
    .links {
      opacity: 1;
      max-height: 800px;
    }
  }
}